@using Formulario.Data
<h1>Crear Usuario</h1>
<hr />

@if(contactoProcesado is null){
<FormularioContacto EnviarCallBack="ProcesarContacto"/>
}


else
{
	<p class="text-success">El contacto ha sido añadido con éxito!</p>
	<ResultadosFormulario ContactShown="contactoProcesado"></ResultadosFormulario>

}

