<div class="container">
    <hr />
    <h4 class="text-center">@ServiceType Service</h4>
    <p role="status">Current count: @_currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>
